// Main Used Colors
$primaryColor:#0055B8;
$secondaryColor:#0ED1B3;
$activeColor: #00B2E2;
$White:#FFFFFF;
$heavyBlue: #00308C;
$boxBg:#EDF8FF;

// BreakPoints
  $xs: 0;       // Extra small (default)
  $sm: 576px;   // Small devices (landscape phones)
  $md: 768px;   // Medium devices (tablets)
  $lg: 992px;   // Large devices (desktops)
  $xl: 1200px;  // Extra large devices (large desktops)
  $xxl: 1400px;  // Extra extra large devices
